h1.titulo{
    color: black;
    background-color: beige;
    text-align: center;
}


p.Museu{
    text-align: center;
    background-color: chartreuse;
}

a {
    color: black;
}

section.naranja{
    background-color: orange;
}

article.izquierda{
    display: inline-block;
}

article.derecha{
    display: inline-block;
}

footer.final{
    text-align: center;
    background-color: blue;

}

span.amarillo{
background-color: yellow;
}